{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid w-100">
  <div class="row mt-3">
    <div class="col-10 offset-1 col-lg-6 offset-lg-3">
      <h2 class="text-center mb-5">Luke's Book reviews</h2>
      <h4 class="text-center mb-5">
        This is a book review webiste that looks at my personal collection of
        novels and literature, I give a review and allow other people to view
        them and leave their own comments.
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h4><em>What can we expect on this site?</em></h4>
      <p>
        I have accumulated many books on my time and love reading; My main book
        collection focusses mostly on the fantasy genre but occasionally dabble
        in the sci-fi.
      </p>
    </div>
  </div>
</div>

{% endblock %}
