{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid w-100">
  <div class="row mt-3">
    <div class="col-10 offset-1 col-lg-6 offset-lg-3">
      <h2 class="text-center mb-5 page-title">Luke's Book reviews</h2>
      <h4 class="text-center mb-5 page-subtitle">
        A book review site for avid readers!
      </h4>
    </div>
  </div>
  <div class="row mb">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h4><em>What is this?</em></h4>
      <p>
        As an avid reader, I always love reading books and sometimes re-reading
        books that really take my attention. I hope to share my experiences with
        these books and make other people aware of the staries and characters
        and capture my imagination.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h4><em>What can we expect on this site?</em></h4>
      <p>
        I have accumulated many books on my time and love reading; My main book
        collection focusses mostly on the fantasy genre but occasionally dabble
        in the sci-fi.
      </p>
    </div>
  </div>
</div>

{% endblock %}
