/* adding font styles */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

/* Main styles */

body {
    background: url('/static/img/bookshelves-bg.png') rgb(255, 210, 145) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Anton SC', Arial, Helvetica, sans-serif;
    height: calc(100vh - 100px);
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #724502;
    color: rgb(255, 210, 145);
}

.navbar-brand {
    font-family: 'Anton SC', Arial, Helvetica, sans-serif;
    color: rgb(255, 210, 145) !important;
}

footer {
    height: 30px;
    background-color: darkgrey;
    color: #000;
}

