/* adding font styles */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');


/* base page styles */

body {
    background: url('/static/img/bookshelves-bg.png') rgb(255, 210, 145) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Anton SC', Arial, Helvetica, sans-serif;
    height: calc(100vh - 100px);
    overflow-x: hidden;
}

header {
    height: auto;
    background-color: #724502;
    color: rgb(255, 210, 145);
}

.navbar-brand {
    font-family: 'Anton SC', Arial, Helvetica, sans-serif;
    color: rgb(255, 210, 145) !important;
}

.tiles-section {
    border: 3px solid #724502;
    padding-left: 5%;
    padding-right: 15%;
    text-align: center;
}

.content-tile {
    padding: 15px;
}

.tiles-section a {
    text-decoration: none;
    color: #fff;
}

.tiles-section a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.book-tile {
    background-color: rgb(5, 50, 135);
    color: #fff;
}

.book-tile:hover {
    background-color: rgb(60, 125, 255);
    color: #000;
}

.account-tile {
    background-color: rgb(55, 5, 150);
    color: #fff;
}

.account-tile:hover {
    background-color: rgb(145, 95, 255);
    color: #000;
}

.about-tile {
    background-color: rgb(45, 85, 5);
    color: #fff;
}

.about-tile:hover {
    background-color: rgb(100, 145, 55);
    color: #000;
}

#footer-push {
    height: 30px;
}

footer {
    height: 30px;
    background-color: darkgrey;
    color: #000;
}

/* Text styles */

#topnav {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.page-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.page-subtitle {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

