<div class="row d-lg-none">
  <div class="col-12">
    <nav class="navbar text-center">
        <div class="col-12">
          <a class="navbar-brand" href="{% url 'home' %}">
            <h1 class="header-title mx-5 pt-3">
              A Real Page Turner
            </h2>
          </a>
        </div>
        <div class="col-12">
          <ul id="topnav-mobile" class="list-inline row text-center">
            <li class="col-3 menuitem">
              <a class="nav-link plain-link" href="{% url 'home' %}"
                ><span>Home</span></a
              >
            </li>
            <li class="col-3 menuitem">
              <a class="nav-link plain-link disabled" href="#"
                ><span>Books</span></a
              >
            </li>
            <li class="col-3 menuitem">
              <a class="nav-link plain-link disabled" href="#"
                ><span>Account</span></a
              >
            </li>
            <li class="col-3 menuitem">
              <a class="nav-link plain-link disabled" href="#"
                ><span>About</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
  </div>
</div>
